body {
	background-color: #bfb;
}

span {
    filter: brightness(0.7);
}

#container > div {
	border: 8px solid black;
	color: black;
}

#container > div:hover {
	background-color: black;
	color: white;
}
